/*------------------------------------*\
    TABLE OF CONTENTS 
    based on Harry Robert's articles and
    https:/github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES.................Define Sass Variables
 * MIXINS....................Define Sass Mixins
 * GENERIC...................Reset,typo... 
 * BASE......................Global Element Styles (grid, default styles, backgrounds...)
 * GUI.......................Site structure (header, navigation, general zones, etc...)
 * OBJECT....................Site structure (header, nav, etc)
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
/*------------------------------------*\ 
    css reset
    based on http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
   License: none (public domain)
\*------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline: none; }

/*------------------------------------*\ 
    box sizing reset 
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
\*------------------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\ 
    typo basic responsive sizing reset 
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
     from http://typecast.com/blog/a-more-modern-scale-for-web-typography 
\*------------------------------------*/
html {
  font-size: 100%;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: medium;
  font-size: 1.2rem;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }
  @media (min-width: 43.75em) {
    body {
      font-size: medium;
      font-size: 1.2rem;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */ } }

h1 {
  font-size: 32px;
  font-size: 2rem;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }
  @media (min-width: 43.75em) {
    h1 {
      font-size: 40px;
      font-size: 2.5rem;
      /* 2.5x body copy size = 40px */
      line-height: 1.125; } }
  @media (min-width: 56.25em) {
    h1 {
      font-size: 48px;
      font-size: 3rem;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }

h2 {
  font-size: 26px;
  font-size: 1.625rem;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }
  @media (min-width: 43.75em) {
    h2 {
      font-size: 32px;
      font-size: 2rem;
      /* 2x body copy size = 32px */
      line-height: 1.25; } }
  @media (min-width: 56.25em) {
    h2 {
      font-size: 36px;
      font-size: 2.25rem;
      /* 2.25x body copy size = 36px */
      line-height: 1.25; } }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }
  @media (min-width: 43.75em) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      /* 1.5x body copy size = 24px */
      line-height: 1.25; } }
  @media (min-width: 56.25em) {
    h3 {
      font-size: 28px;
      font-size: 1.75rem;
      /* 1.75x body copy size = 28px */
      line-height: 1.25; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */ } }

blockquote {
  font-size: small;
  font-size: 1.25rem;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }
  @media (min-width: 43.75em) {
    blockquote {
      font-size: small;
      font-size: 1.5rem;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */ } }

.parallax__wrap {
  position: relative;
  top: 0;
  transform-style: preserve-3d;
  /*  overflow-y: scroll;
   overflow-x: hidden; */
  -webkit-transition: top 1.4s cubic-bezier(0.49, 0.22, 0.52, 1);
  transition: top 1.4s cubic-bezier(0.49, 0.22, 0.52, 1.35); }

.parallax__block {
  transform-style: preserve-3d;
  -webkit-transition: background-position 1.4s cubic-bezier(0.49, 0.22, 0.52, 1);
  transition: background-position 1.4s cubic-bezier(0.49, 0.22, 0.52, 1.35); }

/*------------------------------------*\ 
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $BASE GLOBAL STYLES
\*------------------------------------*/
html {
  height: 100%;
  color: #e0e0e0;
  font-family: Sans-Serif; }

body {
  height: 100%; }

header {
  padding-top: 1em;
  padding-bottom: 1em; }

section {
  padding-top: 1em;
  padding-bottom: 1em; }

a {
  color: #e0e0e0;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  a:hover {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  a:active {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  a:focus {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

strong {
  text-transform: uppercase; }

em {
  font-weight: bold; }

dt {
  margin-top: 1em; }

dd {
  margin-left: 1em; }

/* standard styles */
.right {
  float: right; }

.left {
  float: left; }

.text-center {
  text-align: center; }

 /* 
.title__separation {
	text-align: center;
    //text-transform: uppercase; 
	
	display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid $font-color-light;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}  */
/*------------------------------------*\
    $GRID
    simple grid system based on http://css-tricks.com/dont-overthink-it-grids/
\*------------------------------------*/
.grid {
  margin: 0; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='grid__col-'] {
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important; }

@media (min-width: 40.4em) {
  .grid__col-1-4 {
    width: 50%; }

  .grid__col-1-8 {
    width: 25%; } }
[class*='grid__col-'] {
  padding-right: 0.5em;
  padding-bottom: 0.5em; }
  .grid [class*='grid__col-']:last-of-type {
    padding-right: 0; }

@media (min-width: 65.11em) {
  [class*='grid__col-'] {
    padding-right: 1em;
    padding-bottom: 1em; }
    .grid [class*='grid__col-']:last-of-type {
      padding-right: 0; }

  .grid--outer-gutter {
    padding-left: 2em;
    padding-right: 2em; }

  .grid__col--centered {
    margin-left: auto;
    margin-right: auto; }

  .grid__col-1-12 {
    width: 8.33333%; }

  .grid__col-2-12 {
    width: 16.66667%; }

  .grid__col-3-12 {
    width: 25%; }

  .grid__col-4-12 {
    width: 33.33333%; }

  .grid__col-5-12 {
    width: 41.66667%; }

  .grid__col-6-12 {
    width: 50%; }

  .grid__col-7-12 {
    width: 58.33333%; }

  .grid__col-8-12 {
    width: 66.66667%; }

  .grid__col-9-12 {
    width: 75%; }

  .grid__col-10-12 {
    width: 83.33333%; }

  .grid__col-11-12 {
    width: 91.66667%; }

  .grid__col-12-12 {
    width: 100%; } }
/*------------------------------------*\ 
    background for sections and general body style
\*------------------------------------*/
/* paddings and heights */
@media (min-width: 43.75em) {
  [class*='background-'] {
    min-height: 50em; } }

/* painting the backgrounds */
[class*='background-'] {
  background-repeat: no-repeat;
  background-attachment: fixed; }

.background-1 {
  background-color: rgba(64, 180, 152, 0.8); }

.background-2 {
  background-color: rgba(96, 200, 175, 0.8); }

.background-3 {
  background-color: rgba(64, 180, 152, 0.8); }

.background-4 {
  background-color: rgba(96, 200, 175, 0.8); }

.background-5 {
  background-color: rgba(64, 180, 152, 0.8); }

/*------------------------------------*\
    $GUI
\*------------------------------------*/
/* Styles for the navgation bar */
.global-nav {
  background-color: #c7c7c7;
  background-color: rgba(199, 199, 199, 0.8);
  color: #e0e0e0;
  display: inline-block; }
  @media only screen and (min-width: 65.11em) {
    .global-nav {
      position: fixed;
      top: 0;
      right: 0; } }

[class*='global-nav_'] {
  padding: 1em;
  line-height: 1.5; }
  @media only screen and (min-width: 24.41em) {
    [class*='global-nav_'] {
      line-height: 3; } }

.global-nav__title {
  display: inline;
  font-weight: bold;
  cursor: default; }

.global-nav__link {
  color: #e0e0e0;
  display: block; }
  @media only screen and (min-width: 40.4em) {
    .global-nav__link {
      display: inline;
      font-size: 15.2px;
      font-size: 0.95rem; }
      .global-nav__link:not(:last-child) {
        border-right: 1px solid #e0e0e0; } }

/*------------------------------------*\
    $Banner styling : Main  Heading info.
\*------------------------------------*/
.banner {
  padding-top: 10em; }

.banner__title {
  padding-bottom: 2em; }

.banner__sub-title {
  margin-top: 2em; }

/*------------------------------------*\
    $contact related styles
\*------------------------------------*/
.contact {
  margin-top: 3em; }

.contact__title {
  padding-bottom: .3em; }

.contact__sub-title {
  padding-bottom: 1em; }

[class*='contact__link-']:after {
  content: "\A";
  white-space: pre; }
  [class*='contact__link-']:after:hover {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  [class*='contact__link-']:after:active {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  [class*='contact__link-']:after:focus {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

[class*='contact__link-'] {
  font-size: medium;
  font-size: 1.4rem; }

.contact__link--mail:before {
  content: "email : ";
  text-transform: uppercase; }

.contact__link--plus:before {
  content: "plus : ";
  text-transform: uppercase; }

/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/
/*------------------------------------*\
    $Skill and skill level indicators
\*------------------------------------*/
.skill {
  padding: 0.5em;
  border: 1px solid #e0e0e0; }

[class*='skill__meter'] {
  display: block;
  width: inherit;
  background-color: rgba(133, 214, 194, 0.8); }

[class*='skill__level-'] {
  height: 100%;
  display: block;
  width: inherit;
  background-color: #e73b57;
  text-align: right;
  padding-right: 1em; }

.skill__level-1-5 {
  width: 20%; }

.skill__level-2-5 {
  width: 40%; }

.skill__level-3-5 {
  width: 60%; }

.skill__level-4-5 {
  width: 80%; }

.skill__level-5-5 {
  width: 100%; }

/*------------------------------------*\
    $Font-based icons.
\*------------------------------------*/
[class*='icon--']:before {
  font-family: 'icomoon',serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25em; }

.icon--travel:before {
  content: "\e600"; }

.icon--google-plus:before {
  content: "\e601"; }

.icon--scout:before {
  content: "\e602"; }

.icon--photo:before {
  content: "\e604"; }

.icon--src:before {
  content: "\e605"; }

.icon--cycling:before {
  content: "\e606"; }

.icon--skills:before {
  content: "\e607"; }

.icon--email:before {
  content: "\e608"; }

.icon--foreign-languages:before {
  content: "\e609"; }

.icon--conversation:before {
  content: "\e609"; }

.icon--drive:before {
  content: "\e615"; }

.icon--programming:before {
  content: "\e610"; }

.icon--other-skills:before {
  content: "\e60f"; }

.icon--education:before {
  content: "\e612"; }

.icon--learner:before {
  content: "\e614"; }

.icon--read:before {
  content: "\e616"; }

.icon--work:before {
  content: "\e60b"; }

.icon--hipster:before {
  content: "\e60d"; }

.icon--about-me:before {
  content: "\e618"; }

/* .icon--hipster:before {
    content: "\e617";
}
 */
.icon-earth:before {
  content: "\e613"; }

.icon-screen:before {
  content: "\e603"; }

.icon-bookmark:before {
  content: "\e60c"; }

.icon-file-css:before {
  content: "\e60e"; }

.icon-console:before {
  content: "\e60f"; }

.icon-menu:before {
  content: "\e611"; }

/*------------------------------------*\
    $FOLDABLE BOX OBJECT
\*------------------------------------*/
.folding_box__opener {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  background-color: rgba(133, 214, 194, 0.8); }

.folding_box--folded {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.folding_box--foldable {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-transition: height 0.55s ease-in-out;
  -moz-transition: height 0.55s ease-in-out;
  -ms-transition: height 0.55s ease-in-out;
  -o-transition: height 0.55s ease-in-out;
  transition: height 0.55s ease-in-out; }
  .folding_box--folded .folding_box--foldable {
    /* unfortunately, the !important is required as we calculate the actual heigh of the box within js */
    height: 0 !important; }

.folding_box--content {
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  .folding_box--folded .folding_box--content {
    opacity: 0;
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    transform: rotateX(60deg); }

.folding_box__flap--top, .folding_box__flap--bottom {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(133, 214, 194, 0.8);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  .folding_box--folded .folding_box__flap--top, .folding_box--folded .folding_box__flap--bottom {
    background-color: rgba(64, 180, 152, 0.8); }

.folding_box__flap--top {
  top: 0;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center; }
  .folding_box--folded .folding_box__flap--top {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }

.folding_box__flap--bottom {
  bottom: 0;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center; }
  .folding_box--folded .folding_box__flap--bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }

.bg-poly {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0; }

.fg-poly {
  position: relative; }

@-webkit-keyframes fill-fade-in-out {
  0% {
    fill: #333; }

  100% {
    fill: #fff; } }

@-moz-keyframes fill-fade-in-out {
  0% {
    fill: #333; }

  100% {
    fill: #fff; } }

@-o-keyframes fill-fade-in-out {
  0% {
    fill: #333; }

  100% {
    fill: #fff; } }

@keyframes fill-fade-in-out {
  0% {
    fill: #333; }

  100% {
    fill: #fff; } }

.bg-poly-1 {
  fill: #E6E6E6;
  -webkit-animation: fill-fade-in-out 2.4s linear alternate infinite;
  -moz-animation: fill-fade-in-out 2.4s linear alternate infinite;
  -o-animation: fill-fade-in-out 2.4s linear alternate infinite;
  animation: fill-fade-in-out 2.4s linear alternate infinite; }

.bg-poly-2 {
  fill: #4D4D4D;
  -webkit-animation: fill-fade-in-out 2.6s linear alternate infinite;
  -moz-animation: fill-fade-in-out 2.6s linear alternate infinite;
  -o-animation: fill-fade-in-out 2.6s linear alternate infinite;
  animation: fill-fade-in-out 2.6s linear alternate infinite; }

.bg-poly-3 {
  fill: #808080;
  -webkit-animation: fill-fade-in-out 2.8s linear alternate infinite;
  -moz-animation: fill-fade-in-out 2.8s linear alternate infinite;
  -o-animation: fill-fade-in-out 2.8s linear alternate infinite;
  animation: fill-fade-in-out 2.8s linear alternate infinite; }

.bg-poly-4 {
  fill: #B3B3B3;
  -webkit-animation: fill-fade-in-out 3s linear alternate infinite;
  -moz-animation: fill-fade-in-out 3s linear alternate infinite;
  -o-animation: fill-fade-in-out 3s linear alternate infinite;
  animation: fill-fade-in-out 3s linear alternate infinite; }

.bg-poly-5 {
  fill: #1A1A1A;
  -webkit-animation: fill-fade-in-out 3.2s linear alternate infinite;
  -moz-animation: fill-fade-in-out 3.2s linear alternate infinite;
  -o-animation: fill-fade-in-out 3.2s linear alternate infinite;
  animation: fill-fade-in-out 3.2s linear alternate infinite; }

.bg-poly-6 {
  fill: #999999;
  -webkit-animation: fill-fade-in-out 3.4s linear alternate infinite;
  -moz-animation: fill-fade-in-out 3.4s linear alternate infinite;
  -o-animation: fill-fade-in-out 3.4s linear alternate infinite;
  animation: fill-fade-in-out 3.4s linear alternate infinite; }

.bg-poly-7 {
  fill: #666666;
  -webkit-animation: fill-fade-in-out 3.6s linear alternate infinite;
  -moz-animation: fill-fade-in-out 3.6s linear alternate infinite;
  -o-animation: fill-fade-in-out 3.6s linear alternate infinite;
  animation: fill-fade-in-out 3.6s linear alternate infinite; }

.bg-poly-8 {
  fill: #CCCCCC;
  -webkit-animation: fill-fade-in-out 3.8s linear alternate infinite;
  -moz-animation: fill-fade-in-out 3.8s linear alternate infinite;
  -o-animation: fill-fade-in-out 3.8s linear alternate infinite;
  animation: fill-fade-in-out 3.8s linear alternate infinite; }

.bg-poly-9 {
  fill: #333333;
  -webkit-animation: fill-fade-in-out 4s linear alternate infinite;
  -moz-animation: fill-fade-in-out 4s linear alternate infinite;
  -o-animation: fill-fade-in-out 4s linear alternate infinite;
  animation: fill-fade-in-out 4s linear alternate infinite; }

.bg-poly-opacity {
  opacity: 0.1; }

.bg-poly-line {
  /*   stroke:#000;
    stroke-dasharray: 100;
    stroke-width: 1; */ }

@keyframes dash {
  to {
    stroke-dashoffset: 1000; } }
