		/*------------------------------------*\
    TABLE OF CONTENTS 
    based on Harry Robert's articles and
    https:/github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES.................Define Sass Variables
 * MIXINS....................Define Sass Mixins
 * GENERIC...................Reset,typo... 
 * BASE......................Global Element Styles
 * STRUCTURE.................Site structure (header, nav, etc)
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* basic variables */
/* font colors */
/* background colors */
/* font size and line heights (todo use px rem fallback) */
/* screen sizes */
/* full page vars */
/* grid vars */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* the rem sizing mixin */
/* based on http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback */
/*
available keywords :
    xx-small
    x-small
    small
    medium
    large
    x-large
    xx-large
*/
/* gradient mixins */
/* basic grid column mixin */
/* text hover mixin */
/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
* {
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline: none; }

/* 
	box sizing reset 
	http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* 
  from http://typecast.com/blog/a-more-modern-scale-for-web-typography *
  made sassy...
*/
html {
  font-size: 100%;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: medium;
  font-size: 1rem;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }
  @media (min-width: 43.75em) {
    body {
      font-size: medium;
      font-size: 1.2rem;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */ } }

h1 {
  font-size: 32px;
  font-size: 2rem;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }
  @media (min-width: 43.75em) {
    h1 {
      font-size: 40px;
      font-size: 2.5rem;
      /* 2.5x body copy size = 40px */
      line-height: 1.125; } }
  @media (min-width: 56.25em) {
    h1 {
      font-size: 48px;
      font-size: 3rem;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }

h2 {
  font-size: 26px;
  font-size: 1.625rem;
  /* font-size: 1.625em; */
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }
  @media (min-width: 43.75em) {
    h2 {
      font-size: 32px;
      font-size: 2rem;
      /* 2x body copy size = 32px */
      line-height: 1.25; } }
  @media (min-width: 56.25em) {
    h2 {
      font-size: 36px;
      font-size: 2.25rem;
      /* font-size: 2.25em; */
      /* 2.25x body copy size = 36px */
      line-height: 1.25; } }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }
  @media (min-width: 43.75em) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      /* 1.5x body copy size = 24px */
      line-height: 1.25; } }
  @media (min-width: 56.25em) {
    h3 {
      font-size: 28px;
      font-size: 1.75rem;
      /* 1.75x body copy size = 28px */
      line-height: 1.25; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */ } }

blockquote {
  font-size: small;
  font-size: 1.25rem;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }
  @media (min-width: 43.75em) {
    blockquote {
      font-size: small;
      font-size: 1.5rem;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */ } }

/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $BASE GLOBAL STYLES
\*------------------------------------*/
html {
  height: 100%;
  color: #e0e0e0;
  font-family: Sans-Serif; }

body {
  font-size: 100%; }

a {
  color: #e0e0e0;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  a:hover {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  a:active {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  a:focus {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

strong {
  font-weight: bold; }

em {
  font-weight: bold; }

/* dd , dt, dl {display:inline;}  */
/* standard styles */
/*.right
{
	float:right;
}

.left
{
	float:left;
}
  
*/
/*@import 'base/my-grid.scss' ;*/
/* paddings and heights */
[class*='background-'] {
  /* 	padding-top:$section-padding/40;
  	padding-left:$section-padding/10;
  	padding-right:$section-padding/10;
  	padding-bottom:$section-padding/10; */ }
  @media (min-width: 43.75em) {
    [class*='background-'] {
      /* height: $section-height; */
      min-height: 70em;
      /* padding-top:$section-padding/4;
      padding-left:$section-padding;
      padding-right:$section-padding/10;
      padding-bottom:$section-padding/10; */ } }

	/* .background--title
	{
		padding-top:$section-padding/10;
		padding-left:$section-padding/10;

		@media (min-width: 43.75em) {  
			padding-top:$section-padding;
			padding-left:$section-padding;
		}
	} */
/* painting the backgrounds */
[class*='background-'] {
  background-repeat: no-repeat;
  background-attachment: fixed; }

.background-1 {
  background-color: #40b498; }

.background-2 {
  background-color: #60c8af; }

.background-3 {
  background-color: #85d6c2; }

.background-4 {
  background-color: #60c8af; }

.background-5 {
  background-color: #40b498; }

/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/
/* Styles for the navgation bar */
.global-nav {
  background-color: #c7c7c7;
  color: #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%; }

.global-nav__container {
  padding-top: 4.1em; }

.global-nav__title {
  display: inline;
  font-weight: bold;
  cursor: default; }

.global-nav__link {
  color: #e0e0e0; }
  @media only screen and (min-width: 40.4em) {
    .global-nav__link {
      font-size: 24px;
      font-size: 1.5rem; } }

.banner {
  padding-top: 10em; }

.banner__title {
  padding-bottom: 3em; }

.banner__sub-title {
  margin-top: 2em; }

/* contact elements */
.contact {
  margin-top: 3em; }

[class*='contact__link-']:after {
  content: "\A";
  white-space: pre; }
  [class*='contact__link-']:after:hover {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  [class*='contact__link-']:after:active {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  [class*='contact__link-']:after:focus {
    color: white;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.contact__link--mail:before {
  content: "email : "; }

.contact__link--plus:before {
  content: "plus : "; }
