/*
	Base file fort
*/
/* basic variables */
/*kuler color stack */
/*background color*/
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
basic definitions
*/
html {
  height: 100%;
  background: #74104b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #74104b 0%, #a7264d 33%, #be3550 66%, #f36244 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74104b), color-stop(33%, #a7264d), color-stop(66%, #be3550), color-stop(100%, #f36244));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #74104b 0%, #f36244 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #74104b 0%, #a7264d 33%, #be3550 66%, #f36244 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #74104b 0%, #a7264d 33%, #be3550 66%, #f36244 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #74104b 0%, #a7264d 33%, #be3550 66%, #f36244 100%);
  /* W3C */
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 1.5em;
  font-family: "MS Serif", "New York", serif;
  color: #333333; }

header {
  max-width: 33em; }

h1 {
  font-size: 3em; }

.absolute-centered {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .absolute-centered h1 {
    display: table;
    height: auto; }
  .absolute-centered p {
    display: table;
    height: auto;
    width: 100%; }

.coming-soon {
  width: 500px;
  height: 500px;
  /* background-color:$opt-color;
  background:linear-gradient($alpha-gradient-start , $alpha-gradient-stop ); */
  background: #faa143;
  /* Old browsers */
  background: -moz-linear-gradient(top, #faa143 0%, rgba(250, 161, 67, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa143), color-stop(100%, rgba(250, 161, 67, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faa143 0%, rgba(250, 161, 67, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faa143 0%, rgba(250, 161, 67, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faa143 0%, rgba(250, 161, 67, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #faa143 0%, rgba(250, 161, 67, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  /* border-radius:50%; */
  text-align: center; }
  .coming-soon h1 {
    line-height: 2em; }
