/*------------------------------------*\
    TABLE OF CONTENTS 
    based on Harry Robert's articles and
    http://cssguidelin.es/
\*------------------------------------*/
/**
 * VARIABLES.................Define Sass Variables
 * MIXINS....................Define Sass Mixins
 * GENERIC...................Reset,typo... 
 * BASE......................Global Element Styles (grid, default styles, backgrounds...)
 * GUI.......................Site structure (header, navigation, general zones, etc...)
 * OBJECT....................Site structure (media, nav, etc)
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $GENERIC  
\*------------------------------------*/
/*------------------------------------*\ 
    css reset
    based on http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
   License: none (public domain)
\*------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline: none;
  cursor: pointer; }

button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*------------------------------------*\ 
    box sizing reset 
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
\*------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\ 
    typo basic responsive sizing reset 
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
     from http://typecast.com/blog/a-more-modern-scale-for-web-typography 
\*------------------------------------*/
html {
  font-size: 100%;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: medium;
  font-size: 1.1rem;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }
  @media only screen and (min-width: 40.063em) {
    body {
      font-size: medium;
      font-size: 1.1rem;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */ } }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }
  @media only screen and (min-width: 40.063em) {
    h1 {
      font-size: 48px;
      font-size: 3rem;
      /* 2.5x body copy size = 40px */
      line-height: 1.125; } }
  @media only screen and (min-width: 64.063em) {
    h1 {
      font-size: 64px;
      font-size: 4rem;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }

h2 {
  font-size: 32px;
  font-size: 2rem;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }
  @media only screen and (min-width: 40.063em) {
    h2 {
      font-size: 40px;
      font-size: 2.5rem;
      /* 2x body copy size = 32px */
      line-height: 1.25; } }
  @media only screen and (min-width: 64.063em) {
    h2 {
      font-size: 48px;
      font-size: 3rem;
      /* 2.25x body copy size = 36px */
      line-height: 1.25; } }

h3 {
  font-size: 28px;
  font-size: 1.75rem;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }
  @media only screen and (min-width: 40.063em) {
    h3 {
      font-size: 30.4px;
      font-size: 1.9rem;
      /* 1.5x body copy size = 24px */
      line-height: 1.25; } }
  @media only screen and (min-width: 64.063em) {
    h3 {
      font-size: 35.2px;
      font-size: 2.2rem;
      /* 1.75x body copy size = 28px */
      line-height: 1.25; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }
  @media only screen and (min-width: 40.063em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */ } }

blockquote {
  font-size: small;
  font-size: 1.25rem;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }
  @media only screen and (min-width: 40.063em) {
    blockquote {
      font-size: small;
      font-size: 1.5rem;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */ } }

/*------------------------------------*\ 
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $BASE GLOBAL STYLES
\*------------------------------------*/
html {
  font-family: sans-serif; }

body {
  height: 100%; }
  body:after {
    display: none; }
    @media only screen and (max-width: 40em) {
      body:after {
        content: '1'; } }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      body:after {
        content: '2'; } }
    @media only screen and (min-width: 64.063em) {
      body:after {
        content: '3'; } }

h1, h2, h3, h4, h5 {
  display: inline; }

/*
a { 
    @include color($color-dark, $alpha--text,color);   
    &:hover {color:$color__accent;}
}
*/
.right {
  float: right; }

/*------------------------------------*\
    $GRID
    base grid system transitionned to flex box.
\*------------------------------------*/
.grid {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

[class*='grid__item'] {
  margin: 0.1em;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%; }
  @media only screen and (min-width: 64.063em) {
    [class*='grid__item'] {
      -webkit-flex-basis: auto;
      -ms-flex-basis: auto;
      flex-basis: auto;
      min-width: 24%; } }

@media only screen and (min-width: 40.063em) {
  .grid__gutter {
    padding-left: 1em;
    padding-right: 1em; }

  .grid__gutter--left {
    padding-left: 1em; }

  .grid__gutter--right {
    padding-right: 1em; }

  .grid__item--full {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    margin: 0; }

  .grid__item--half {
    -webkit-flex-basis: 49%;
    -ms-flex-basis: 49%;
    flex-basis: 49%; }

  .grid__item--third {
    -webkit-flex-basis: 32%;
    -ms-flex-basis: 32%;
    flex-basis: 32%; }

  .grid__item--fourth {
    -webkit-flex-basis: 24%;
    -ms-flex-basis: 24%;
    flex-basis: 24%; } }
/*------------------------------------*\
    $MATERIAL design inspired css rules.

    articles are considered to be cards 
    in this particular case.
\*------------------------------------*/
.mat__env {
  width: 100%;
  height: 100%; }

.mat__sheet {
  background-color: #B2DFDB;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: white;
  color: rgba(255, 255, 255, 0.87); }
  @media only screen and (min-width: 64.063em) {
    .mat__sheet {
      margin-left: 5em;
      margin-right: 5em; } }

.mat__tile {
  min-height: 5em;
  background-color: white;
  background-color: white;
  color: black;
  color: rgba(0, 0, 0, 0.87);
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: black;
  border-bottom-color: rgba(0, 0, 0, 0.12); }
  .mat__tile a {
    color: black;
    color: rgba(0, 0, 0, 0.87); }
    .mat__tile a:hover {
      color: #FFC107; }

.mat__tile--header {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: black;
  color: rgba(0, 0, 0, 0.54); }
  .mat__tile--header + .mat__tile--body {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: black;
    border-top-color: rgba(0, 0, 0, 0.12); }
  .mat__tile--header h1, .mat__tile--header h2, .mat__tile--header h3, .mat__tile--header h4 {
    color: black;
    color: rgba(0, 0, 0, 0.87); }

.mat__tile--body {
  padding: 1em; }

.mat__elevated-1 {
  -webkit-box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.48);
  -box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.48); }

.mat__elevated-2 {
  -webkit-box-shadow: 0 9px 30px 3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 9px 30px 3px rgba(0, 0, 0, 0.46);
  -box-shadow: 0 9px 30px 3px rgba(0, 0, 0, 0.46); }

.mat__elevated-3 {
  -webkit-box-shadow: 0 18px 30px 3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 18px 30px 3px rgba(0, 0, 0, 0.46);
  -box-shadow: 0 18px 30px 3px rgba(0, 0, 0, 0.46); }

.mat__elevated-4 {
  -webkit-box-shadow: 0 30px 50px 5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0 30px 50px 5px rgba(0, 0, 0, 0.44);
  -box-shadow: 0 30px 50px 5px rgba(0, 0, 0, 0.44); }

.mat__elevated-5 {
  -webkit-box-shadow: 0 45px 60px 6px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0 45px 60px 6px rgba(0, 0, 0, 0.44);
  -box-shadow: 0 45px 60px 6px rgba(0, 0, 0, 0.44); }

/*------------------------------------*\ 
    $GUI
\*------------------------------------*/
/*------------------------------------*\
    $contact related styles
\*------------------------------------*/
.contact {
  display: block; }

@media only screen {
  .contact--mail:before {
    content: "\2709"; } }
@media only screen and (min-width: 40.063em) {
  .contact--mail:before {
    content: "email : "; } }
@media only screen and (min-width: 64.063em) {
  .contact--mail:before {
    content: "envoyez-moi un email : "; } }

@media only screen {
  .contact--plus:before {
    content: "\2795"; } }
@media only screen and (min-width: 40.063em) {
  .contact--plus:before {
    content: "plus : "; } }
@media only screen and (min-width: 64.063em) {
  .contact--plus:before {
    content: "contactez-moi via google plus : "; } }

@media only screen {
  .contact--tel:before {
    content: "\260E"; } }
@media only screen and (min-width: 40.063em) {
  .contact--tel:before {
    content: "tel : "; } }
@media only screen and (min-width: 64.063em) {
  .contact--tel:before {
    content: "appelez-moi directement au "; } }

/*------------------------------------*\ 
    $OBJECT
\*------------------------------------*/
/*------------------------------------*\
    $MEDIA object
    implementation of stubbornella's media object,
    extended by http://wfendler.com/blog/perfecting-the-media-object

    usage : 
    <div class="media">
      <div class="media__item"> some header </div>
      <div class="media__body"> some body </div> 
    </div>
\*------------------------------------*/
.media {
  overflow: hidden;
  zoom: 1; }

.media__item {
  float: left;
  margin-right: 1em; }

/* additional styles. */
/* FLIPPED */
.media--flip > .media__item {
  margin-right: 0;
  margin-left: 1em;
  float: right; }

/*  STACKED */
.media--stack > .media__item {
  float: none;
  margin-left: 0;
  margin-bottom: 1em; }

/*  NOWRAP */
.media--nowrap > .media__body {
  overflow: hidden; }

/*  VALIGN (aka "FLAG") */
.media--valign {
  display: table;
  height: 100%; }

.media--valign > .media__item,
.media--valign > .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--valign > .media__body {
  width: 100%; }

/*------------------------------------*\
    $lvl level indicator.
    Similar to the $experience class set,
    made to be generic.

    usage
    <container class="lvl">
        <level class="lvl-x-5">lorem</level>
        <.../>
    </container>
\*------------------------------------*/
.lvl {
  width: 100%;
  border-bottom: solid 0.1em #FFECB3;
  margin-bottom: 0.5em; }

.lvl__5-5,
.lvl__4-5,
.lvl__3-5,
.lvl__2-5,
.lvl__1-5 {
  border-bottom: solid 0.1em #FFA000;
  display: block;
  text-overflow: visible;
  white-space: nowrap; }

.lvl__5-5 {
  width: 100%; }

.lvl__4-5 {
  width: 80%; }

.lvl__3-5 {
  width: 60%; }

.lvl__2-5 {
  width: 40%; }

.lvl__1-5 {
  width: 20%; }
