
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:300);


$heading-font:  raleway  ; 
/*$sub-heading-font: 'League Gothic';*/
$base-font : 'Open Sans Condensed', sans-serif;

.wf-active h1,h2,h3,h4,h5 
{
	  font-family:$heading-font; 
}

/*
.wf-active header
{
	 font-family:$sub-heading-font; 
}*/

.wf-active	 
{
	 font-family: $base-font; 
}	 