/*------------------------------------*\
    $MIXINS
\*------------------------------------*/



// generic mixins
@mixin no-select()
{
  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;
}

@mixin transition($prop,$duration,$ease)
{
  -webkit-transition : $prop $duration  $ease;
     -moz-transition : $prop $duration  $ease;
      -ms-transition : $prop $duration  $ease;
       -o-transition : $prop $duration  $ease;
          transition : $prop $duration  $ease;
}

@mixin perspective($value)
{
  -webkit-perspective : $value;
     -moz-perspective : $value;
      -ms-perspective : $value;
       -o-perspective : $value;
          perspective : $value;
}

@mixin transform($value)
{
  -webkit-transform : $value;
     -moz-transform : $value;
      -ms-transform : $value;
       -o-transform : $value;
          transform : $value;
}

@mixin transform-origin($value)
{
  -webkit-transform-origin : $value;
     -moz-transform-origin : $value;
      -ms-transform-origin : $value;
       -o-transform-origin : $value;
          transform-origin : $value;
}
@mixin transform-style($value)
{
  -webkit-transform-style : $value;
     -moz-transform-style : $value;
      -ms-transform-style : $value;
       -o-transform-style : $value;
          transform-style : $value;
}


// the rem sizing mixin 
// based on http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback 


//available keywords :
    //xx-small
    //x-small
    //small
    //medium
    //large
    //x-large
    //xx-large


@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}


// gradient mixins 
@mixin quadriColorGradient($top, $middle1 , $middle2, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%,  $middle1 33%, $middle2 66%, $bottom 100%); // FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top),color-stop(33%,$middle1),color-stop(66%,$middle2), color-stop(100%,$bottom)); // Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); // Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  $top 0%,$middle1 33%, $middle2 66%, $bottom 100%); // Opera 11.10+ 
    background: -ms-linear-gradient(top,  $top 0%,$middle1 33%, $middle2 66%, $bottom 100%); // IE10+ 
    background: linear-gradient(to bottom,  $top 0%,$middle1 33%, $middle2 66%, $bottom 100%); // W3C 
}  

@mixin bicolorGradient($top, $bottom){
    background: $top; // Old browsers 
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); // FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); // Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); // Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); // Opera 11.10+ 
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); // IE10+ 
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); // W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); // IE6-9 
}

@mixin opaqueBackground ($r,$g,$b,$a)
{
    background-color:rgb($r,$g,$b);
    background-color:rgba($r,$g,$b,$a);
}



// basic grid column mixin 
@mixin col 
{
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
  -webkit-background-clip: padding-box !important;
     -moz-background-clip: padding-box !important;
          background-clip: padding-box !important;
 
}



// text hover mixin 
@mixin default-transition($duration:.5s)
{
    -o-transition:$duration;
    -ms-transition:$duration;
    -moz-transition:$duration;
    -webkit-transition:$duration;
    transition:$duration;
}

@mixin text-hover($color,$duration:.5s)
{
    &:hover 
    {
        color:$color;
        -o-transition:$duration;
        -ms-transition:$duration;
        -moz-transition:$duration;
        -webkit-transition:$duration;
        transition:$duration;
    }
    &:active 
    {
        color:$color;
        -o-transition:$duration;
        -ms-transition:$duration;
        -moz-transition:$duration;
        -webkit-transition:$duration;
        transition:$duration;
    } 
    &:focus 
    {
        color:$color;
        -o-transition:$duration;
        -ms-transition:$duration;
        -moz-transition:$duration;
        -webkit-transition:$duration;
        transition:$duration;
    }
}

// cool height adapt mixin
@mixin smooth-height-change($duration:.5s)
{
        -o-transition: max-height $duration ;
        -ms-transition:max-height $duration ;
        -moz-transition:max-height $duration ;
        -webkit-transition:max-height $duration ;
        transition:max-height $duration ;
}

