/* basic variables */ 

/*kuler color stack */
$gradient-color-1:#74104B;
$gradient-color-2:#A7264D;
$gradient-color-3:#BE3550;
$gradient-color-4:#F36244;

$alpha-gradient-start : rgba(250,161,67,1);
$alpha-gradient-stop : rgba(250,161,67,0);

$opt-color:#FAA143;

$font-stack: 'MS Serif', 'New York', serif;

$primary-font-color:#333;

/*background color*/
$background-default-color:#74104B;

$background-gradient:#74104B;

$background-start:180deg;

$base-font-size:30px;
$base-line-height:1.5em;

$header-p-font-height:1.6em;

