/* Set up a variable for maths */

$doc-font-size: 16;

/* the font-size mixin */

@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

/* example of usage 

.prose p {
  @include font-size(16);  
}

*/

//------------------------------------
//------------------------------------
//------------------------------------

/* basic variables */ 
$body-font-size : 100%;

$primary-font-color: #484848  ;




/*background color*/

$base-font-size:12px;
$base-line-height:1.5rem;

/* $header-p-font-height:1.6rem; */

$tiny-screen : 0em;
$small-screen : 30em;
$medium-screen : 43.7em;
$large-screen : 70em;


/*
	Font size mixin
*/


/* Set up a variable for maths */

$doc-font-size: 16;



