/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
// basic variables  
$body-font-size : 100%;
 

// font size and line heights (todo use px rem fallback) 
$base-font-multiplier : 1 ; //1 = 100%.
$base-line-height:1.5em;

 
// full page vars 
$section-height:50em;
$section-padding:10em;

// grid vars 
$gutter-width: 1em;
$default-section-padding:1em;

 
// colors
 
$background-default : #058C73 ; 

// material
$sheet-color : #E0F2F1 ;

$card-color : #ffffff;


$color-light: 255 ; // #FFFFFF ;
$color-dark: 0 ; // #FFFFFF ;

$alpha--default : 1;
$alpha--dividers : 0.12 ; // 12%
$alpha--disabled-hint : 0.26 ;  //26%
$alpha--secondary-icon : 0.54 ; // 54%
$alpha--text : 0.87 ; //87% 

$color__primary : #009688 ;
$color__primary--light : #B2DFDB ;
$color__primary--dark : #00796B ;

$color__accent : #FFC107 ;
$color__accent--light : #FFECB3 ;
$color__accent--dark : #FFA000;



