.absolute-centered
{  
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;

	h1 , p 
	{
		display:table;
		height:auto;
		width: 100%;	
	}	
  }

.coming-soon
{
	width: 20em; 
  	height: 20em;

   @media screen and (max-width: 630px) {
   width: 100%; 
  	height: 100%;
  }



	/* background-color:$opt-color;
	background:linear-gradient($alpha-gradient-start , $alpha-gradient-stop ); */
	@include linearGradient ($alpha-gradient-start , $alpha-gradient-stop ); 
	/* border-radius:50%; */

	text-align:center;
	
	
}

