.absolute-centered
{  
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;

	h1 , p 
	{
		display:table;
		height:auto;
		width: 100%;	
	}	
  }

.coming-soon
{
	width: 60%; 
  	height: 60%;

	min-width:500px;
	max-width:800px;

	min-height:500px;
	max-height:800px;

	/* background-color:$opt-color;
	background:linear-gradient($alpha-gradient-start , $alpha-gradient-stop ); */
	@include linearGradient ($alpha-gradient-start , $alpha-gradient-stop ); 
	/* border-radius:50%; */

	text-align:center;
	
	
}

