/*------------------------------------*\
    $about-me related styles 
    inspired by http://www.heydonworks.com/article/tetris-the-power-of-css
\*------------------------------------*/

.about-me
{}

.about-me__list
{ overflow: hidden;

margin: 0 auto; }

.about-me__list-item
{
    //padding: 1em;
   // margin:1em;
    @include col;
    width: 33.333%; 
    padding: 0 0.5em 0.5em 0;
    float: left;
    display: list-item;
    background-color: $main-color-3; 


    &:nth-child(3n + 1):nth-last-child(2), 
    &:nth-child(3n + 1):nth-last-child(2) + .about-me__list-item {
       width: 50%;
    }
}




