/*------------------------------------*\
    $Banner styling : Main  Heading info.
\*------------------------------------*/
.banner {
	padding-top:10em;

}
.banner__title{
    padding-bottom:2em;

 }
.banner__sub-title{
	margin-top:2em;
}

