/* contact elements */ 
.contact {
	margin-top:3em; 
}
.contact__title{padding-bottom:.3em;}
.contact__sub-title{ padding-bottom:1em;}

[class*='contact__link-']:after 
{ 
	content:"\A"; 
	white-space:pre;
	@include text-hover(#ffffff) ;
}

[class*='contact__link-']
{
	 @include font-size(1.4,medium);
}
.contact__link--mail:before 
{ content:"email : "; text-transform:uppercase; }
.contact__link--plus:before 
{ content:"plus : "; text-transform:uppercase; } 