/* Styles for the navgation bar */

$global-nav-height : 3em;

.global-nav
{
	@include opaqueBackground($rgb-gray-light,$rgb-gray-light,$rgb-gray-light,$alpha);

	color:$font-color-light;
	// height:$global-nav-height;   
	width:100%; 

	display:inline-block;
	
	
	@media only screen and (min-width: $large-screen ) 
	{
		position:fixed;
		top:0;
		left:0;
	}

}

[class*='global-nav_']
{
	padding:1em;
	line-height:1.5;

	@media only screen and (min-width: $small-screen ) 
	{
		line-height:3;
	}
}

.global-nav__title
{ 
	display:inline; 
	font-weight: bold;
	cursor:default;

	//&:after {content:" | ";}
}
 

.global-nav__link
{
	color:$font-color-light;
	display:block;
	@media only screen and (max-width: $medium-screen ) 
	{
	//	border-top:1px solid $font-color-light;
	}


	@media only screen and (min-width: $medium-screen ) 
	{
		//border-right:1px solid $font-color-light;
		display:inline;
		@include font-size(1.5);
		//&:not(:last-child):after { content:"";}
	}
}



