/* Styles for the navgation bar */

$global-nav-height : 3em;

.global-nav
{
	@include opaqueBackground($rgb-gray-light,$rgb-gray-light,$rgb-gray-light,$alpha);

	color:$font-color-light;
	position:fixed;
	top:0;
	left:0;
	height:$global-nav-height;  
	width:100%; 
	
	@media only screen and (min-width: $large-screen ) 
	{
	}

}


 /* .global-nav__container
{
	padding-top:$global-nav-height;
}  */

.global-nav__title
{ 
	display:inline; 
	font-weight: bold;
	cursor:default;


	//&:after {content:" | ";}
}

.global-nav__link
{
	color:$font-color-light;

	@media only screen and (min-width: $medium-screen ) 
	{
		@include font-size(1.5);
		&:not(:last-child):after {content:" | ";}
	}

}

