/*------------------------------------*\ 
    background for sections
\*------------------------------------*/

	/* paddings and heights */
	
	[class*='background-']
	{
	/* 	padding-top:$section-padding/40;
		padding-left:$section-padding/10;
		padding-right:$section-padding/10;
		padding-bottom:$section-padding/10; */

		@media (min-width: 43.75em) 
		{  
			/* height: $section-height; */
			 min-height: $section-height; 
			/* padding-top:$section-padding/4;
			padding-left:$section-padding;
			padding-right:$section-padding/10;
			padding-bottom:$section-padding/10; */
		}
	} 

	/* .background--title
	{ 
		padding-top:$section-padding/10;
		padding-left:$section-padding/10;

		@media (min-width: 43.75em) {  
			padding-top:$section-padding;
			padding-left:$section-padding;
		}
	} */ 

	/* painting the backgrounds */ 
	[class*='background-'] 
	{
 		background-repeat:no-repeat;
		background-attachment: fixed;  
	}

	.background-1
	{
		background-color : $main-color-1;
		 //@include bicolorGradient($main-color-1,$main-color-2); 
		
	}
	.background-2
	{
		background-color : $main-color-2;
		 //@include bicolorGradient($main-color-2,$main-color-3); 



	}
	.background-3
	{
		background-color : $main-color-1;

		 //@include bicolorGradient($main-color-3,$main-color-2); 

	}
	.background-4
	{
		 background-color : $main-color-2; 
		//@include bicolorGradient($main-color-2,$main-color-1); 
	}
	
	.background-5
	{
		 background-color : $main-color-1; 
		 //@include bicolorGradient($main-color-1,$main-color-2); 
	}