/* 
basic definitions
*/
html {
	height:100%;
	@include quadriColorGradient($gradient-color-1,$gradient-color-2,$gradient-color-3,$gradient-color-4);
	background-repeat:no-repeat;
	font-size:$base-font-size;
	line-height:$base-line-height;
	font-family:$font-stack; 
	color:$primary-font-color;
}

header { max-width:33em; }

h1 { font-size:3em; line-height:2em;  }

p {font-size:$p-font-height}
 
 