/*------------------------------------*\
    $BASE GLOBAL STYLES
\*------------------------------------*/
html {
	height:100%;
	color:$font-color-light;
	font-family: Sans-Serif;
} 

body { 
	height:100%;

    &:after
    {
        @media (min-width:$small-screen)
        {
            content:'1';
        }
        @media (min-width:$medium-screen)
        {
            content:'2';
        }
        @media (min-width:$large-screen)
        {
            content:'3';
        }
    }
}



header
{
	// height:100%; 
	padding-top:$default-section-padding;
	padding-bottom:$default-section-padding;
}

section
{
	//height:100%;
	//min-height:100%; 
	padding-top:$default-section-padding;
	padding-bottom:$default-section-padding;
}


a { 
	color:$font-color-light;
	@include default-tansition;
	@include text-hover($font-color-hover) ;
}

strong
{ text-transform:uppercase;}

em
{ font-weight: bold; }

/* dt { margin-top:1em; }
dd { margin-left:1em; } */

/* dt, dd { display: inline; margin: 0; }

dd:after {
    content: '\A';
    white-space: pre;
} */


h4
{
    display: inline-block;
} 

//ul { display: block ; }
//li { display : inline-block; }

//li {margin-left:1em; }



/* standard styles */
.right
{
	float:right;
} 

.left
{
	float:left;
}

.text-center
{
	 text-align  : center ; 
}

 
.title__separation {
	text-align: center;
    //text-transform: uppercase; 
	
	display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid $font-color-light;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.75em;
      width: 50%;
    }

}  