/*------------------------------------*\
    $BASE GLOBAL STYLES
\*------------------------------------*/
html
{
    font-family: sans-serif;
}  

body { 
    height:100%;

    &:after
    {
        display: none;
        @media #{$small-only}
        {
            content:'1';
        }
        @media #{$medium-only} 
        {
            content:'2';
        }
        @media #{$large-up}
        {
            content:'3';
        }
    }
}

// headers reset
h1,h2,h3,h4,h5
{ display:inline; }

/*
a { 
    @include color($color-dark, $alpha--text,color);   
    &:hover {color:$color__accent;}
}
*/
.right
{ float : right ;}
