/*------------------------------------*\
    $GRID
    base grid system transitionned to flex box.
\*------------------------------------*/
.grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content:center;
}

@mixin flex ($basis, $grow:1,$shrink:1)
{
  -webkit-flex: $grow $shrink $basis;
      -moz-flex: $grow $shrink $basis;
           flex: $grow $shrink $basis;
}

[class*='grid__col-'] {
 @include flex (auto);
  }



@media  #{$medium-up}   {
   .grid__col-4-12 {
     @include flex (50%);
  }
  .grid__col-2-12 {
     @include flex (25%);
  }
}

@media  #{$large-up}   {



  .grid__col-1-12 {
    @include flex ( 1/12 * 100%);
  }
  
  .grid__col-2-12 {
     @include flex (2/12 * 100%);
  }

  .grid__col-3-12 {
     @include flex (3/12 * 100%);
  }
  .grid__col-4-12 {
     @include flex (4/12 * 100%);
  }
  .grid__col-5-12 {
     @include flex (5/12 * 100%);
  }
  .grid__col-6-12 {
     @include flex (6/12 * 100%);
  }

  .grid__col-7-12 {
     @include flex (7/12 * 100%);
  } 

  .grid__col-8-12{
     @include flex (8/12 * 100%);
  }

  .grid__col-9-12 {
     @include flex (9/12 * 100%);
  }

  .grid__col-10-12 {
     @include flex (10/12 * 100%);
  }

  .grid__col-11-12 {
     @include flex (11/12 * 100%);
  }

  .grid__col-12-12 {
     @include flex (12/12 * 100%);
  }
}