/*------------------------------------*\
    $GRID
    base grid system transitionned to flex box.
\*------------------------------------*/
.grid {
  min-height:100%;  

  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;

-webkit-flex-direction :  row ;
   -moz-flex-direction :  row ;
    -ms-flex-direction :  row ;
        flex-direction :  row ;

  -webkit-flex-wrap : wrap;
     -moz-flex-wrap : wrap;
      -ms-flex-wrap : wrap;
          flex-wrap : wrap;

  -webkit-justify-content : space-between;
     -moz-justify-content : space-between;
          justify-content : space-between;

  -webkit-align-content : space-around;   
     -moz-align-content : space-around;   
      -ms-align-content : space-around;   
          align-content : space-around;  

  -webkit-align-items : stretch ;
     -moz-align-items : stretch ;
      -ms-align-items : stretch ;
          align-items : stretch ;
 
}


[class*='grid__item']  
{
  margin:0.1em;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis : 100%;

  @media  #{$large-up} 
  {
    flex-basis : auto ;
  }

  //margin-right : $gutter-width;
  //&:first
  //{ margin-left : $gutter-width; }
}



@media  #{$medium-up} 
{
  .grid__gutter
  {
    padding-left : $gutter-width ; 
    padding-right : $gutter-width ;
  }
  .grid__gutter--left
  { padding-left:$gutter-width ; }

  .grid__gutter--right
  { padding-right:$gutter-width;  }

  .grid__item--full
  {flex-basis : 100%; }


  .grid__item--half
  { flex-basis : 49%; }

  .grid__item--third
  { flex-basis : 32%; }

  .grid__item--fourth
  { flex-basis : 24%;  }
}