/*------------------------------------*\
    $MATERIAL design inspired css rules.

    articles are considered to be cards 
    in this particular case.
\*------------------------------------*/
.mat__sheet
{
    margin-left: 5em;
    margin-right: 5em;
    
    background-color: $color__primary--light;

    @include seam-divider(bottom);

    @include color($color-light, $alpha--text,color); 

    a { @include color($color-light, $alpha--text,color);
     &:hover {color:$color__accent;}}
} 
 


article,
.mat__card
{
   
    @include color($color-light, $alpha--default,background-color); 
    @include color($color-dark, $alpha--text,color); 
    margin:1em;
}

