/*------------------------------------*\
    $MATERIAL design inspired css rules.

    articles are considered to be cards 
    in this particular case.
\*------------------------------------*/

.mat__env 
{   
    width: 100%;
    height:100%;
}

.mat__sheet
{
    background-color: $color__primary--light;

    @include seam-divider(bottom);

    @include color($color-light, $alpha--text,color); 
    //a {
    //    @include color($color-light, $alpha--text,color);
    //    &:hover {color:$color__accent;}
    //}

    @media #{$large-up} 
    { 
        margin-left: 5em;
        margin-right: 5em;
    }
} 
 


article,
.mat__card
{   
    min-height: 5em;
   padding: 1em;


    @include color($color-light, $alpha--default,background-color); 
    @include color($color-dark, $alpha--text,color); 
    a {
        @include color($color-dark, $alpha--text,color);
        &:hover {color:$color__accent;}
    }
    
}

