

$section-height:100em;
$section-padding:10em;


@media only screen and (min-width: $large-screen ) 
{
	section 
	{
		height: $section-height;
		padding-top:$section-padding;
	}

	[class*='background-'] 
	{
		padding-top:$section-padding/4;
		padding-left:$section-padding;
	}

	.site-banner
	{
		height: $section-height;
		padding-top:$section-padding;
		padding-left:$section-padding;
	}

	.background-1
	{
		background-color : $background-color-1;
		color:$font-color-dark;
		background-repeat:no-repeat;
		background-attachment: fixed; 
	}
	.background-2
	{
		color:$font-color-dark;
		background-color : $background-color-2;
		background-repeat:no-repeat;
		background-attachment: fixed; 
	}
	.background-3
	{
		color:$font-color-dark;
		background-color : $background-color-3;
		background-repeat:no-repeat;
		background-attachment: fixed; 
	}
	.background-4
	{
		color:$font-color-dark;
		background-color : $background-color-2;
		background-repeat:no-repeat;
		background-attachment: fixed; 
	}
	.background-5
	{
		color:$font-color-dark;
		background-color : $background-color-1;
		background-repeat:no-repeat;
		background-attachment: fixed; 
	}
}