	/* paddings and heights */
	[class*='background-']
	{
		padding-top:$section-padding/40;
		padding-left:$section-padding/10;
		padding-right:$section-padding/10;
		padding-bottom:$section-padding/10;
		
		@media (min-width: 43.75em) 
		{  
			height: $section-height;
			min-height: $section-height;
			padding-top:$section-padding/4;
			padding-left:$section-padding;
			padding-right:$section-padding/10;
			padding-bottom:$section-padding/10;
		}
	}

	.background--title
	{
		padding-top:$section-padding/10;
		padding-left:$section-padding/10;

		@media (min-width: 43.75em) {  
			padding-top:$section-padding;
			padding-left:$section-padding;
		}
	} 

	/* painting the backgrounds */ 
	[class*='background-'] 
	{
		color:$font-color-dark;
 		background-repeat:no-repeat;
		background-attachment: fixed;  
	}

	.background-1
	{
		background-color : $background-color-1;
		 //@include bicolorGradient($background-color-1,$background-color-2); 
		
	}
	.background-2
	{
		background-color : $background-color-2;
		 //@include bicolorGradient($background-color-2,$background-color-3); 



	}
	.background-3
	{
		background-color : $background-color-3;
		 //@include bicolorGradient($background-color-3,$background-color-2); 

	}
	.background-4
	{
		 background-color : $background-color-2; 
		//@include bicolorGradient($background-color-2,$background-color-1); 
	}
	.background-5
	{
		 background-color : $background-color-1; 
		 //@include bicolorGradient($background-color-1,$background-color-2); 
	}